.main-header{
	margin: 0;
	height:400px;
	padding-right: 160px;
	padding-left: 150px;
	padding-top: 30px;
    background-color: #eeeeee;
}

.main-navigation{
	display:inline-block;
}
.navigation li{
    display:inline-block;
    
}
.navigation li a{
	font-weight: bold;
    text-decoration: none;
    color:black;
    font-size: 14px;
    font-family: "Roboto",sans serif;
    padding-right: 45px;
}
.header-logo{
	padding-right: 183px;
}
b{
	font-size: 36px;
	line-height: 36px;	
}
.user-info{
	font-size: 16px;
	line-height: 22px;
}
.user-block .title{
	padding-top: 85px;
}
.user-block-image{
	position: absolute;
	top:145px;
	left:750px;
}
.circle-active{
    position: absolute;
    top: 325px;
    left: 570px;
    width: 4px;
    height: 4px; 
    margin: 1em auto;  
    background: silver;
    border: 2px solid white;
    border-radius: 50%;
}
.circle-2{
    position: absolute;
    top: 325px;
    left: 590px;
    width: 4px;
    height: 4px; 
    margin: 1em auto;
    background: white;
    border: 2px solid white;
    border-radius: 50%;
}
.circle-3{
    position: absolute;
    top: 325px;
    left: 610px;
    width: 4px;
    height: 4px; 
    margin: 1em auto;
    background: white;
    border: 2px solid white;
    border-radius: 50%;
}
.btn-know-more{
	width: 220px;
	height: 38px;
	background-color: #fb565a;
	border-radius: 5px;
	font-size: 12px;
	color: white;
}
.main-menu .column{
	display: inline-block;
	padding-top: 80px;
	padding-left: 88px;
}
.main-menu .web-sites{
	margin-left: 68px;
}
.btn-red{
	background-color: #fb565a;
	width: 130px;
	height: 38px;
	border-radius: 5px;
	font-size: 12px;
	color: white;
}
.column-apps p{
	font-size: 15px;
	line-height: 22px;
}
.btn-green{
	background-color: #00ca74;
	width: 130px;
	height: 38px;
	border-radius: 5px;
	font-size: 12px;
	color: white;
}
.btn-yellow{
	background-color: #efc84a;
	width: 130px;
	height: 38px;
	border-radius: 5px;
	font-size: 12px;
	color: white;
}
hr{
	color: #eeeeee;
	opacity: 0.3;
	margin-left: 160px;
	margin-right: 245px;
}
.info-text{
	display: inline-block;
	margin-left: 160px;
	font-size: 16px;
	line-height: 31px;

}
.logo-bot{
	display: inline-block;
	position: absolute;
	right: 255px;
}
.work-info{
	display: inline-block;
	position: absolute;
	right: 265px;
	top: 1108px;
	font-size: 16px;
	line-height: 31px;
}
.dash{
	color: #fb565a;
	font-size: 20px;
	font-weight: bold;
}
.promo{
	display: inline-block;
	padding-top: 55px;
	padding-left: 88px;
	padding-bottom: 55px;
}
.gluk{
	margin-left: 88px;
	position: relative;
	bottom: 15px;
}

.accademy{
	position: relative;
	bottom: 5px;
	left: 150px;
}
.barber{
	position: absolute;
	top:1330px;
	right: 250px;
}
.map-info{
	margin-top: 80px;
	width: 1340px;
	height: 480px;
	margin-right: 0;
	padding: 0;
	background: url("map-1.jpg") 100% no-repeat;
}
.adress{
	position: absolute;
	top: 1600px;
	left:160px;
}
.marker{
	position: absolute;
	top: 1600px;
	left:940px;
}
.btn-email{
	background-color: #fb565a;
	width: 200px;
	height: 38px;
	border-radius: 5px;
	font-size: 12px;
	color: white;
	position: absolute;
	top:1780px;
	left:182px;
}
.foot-slogan{
display: inline-block;
margin-left: 140px;
padding-bottom: 70px;
line-height: 35px;
}
.vk{
	padding-left: 160px;
	padding-right: 40px;
}
.facebook{
	padding-right: 40px;
}
.social{
	padding-top: 80px;
}